img{
    min-width: 100%;
    display: flex;
    height: auto;
}
.box{
    width: 420px;
    height: 280px;
    background-image: url(./img/image.png);
    background-size: 420px 280px;
}
@media (min-device-pixel-ratio: 2), 
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .box{
        background-image: url(./img/image@2x.png);
    }
}
@media (min-device-pixel-ratio: 3), 
(-webkit-min-device-pixel-ratio: 3),
(min-resolution: 288dpi),
(min-resolution: 3dppx){
    .box{
        background-image: url(./img/image@3x.png);
    }
}